<h1>Генератор МГ ФОМС</h1>
<p>
    Создание файлов для дальнейшей передачи в московский городской фонд медицинского страхования (МГ ФОМС).
</p>
<p>
    <a class="btn btn-lg btn-primary" href="[% request.uri_base %]/generator" role="button">Перейти в генератор &raquo;</a>
</p>

